.btn-rounded{
  border-radius: 20px;
}



.btn-danger{
  background: #FF4040;
}

.btn-success{
  background: #009051;
}
.btn-noround{
  border-radius: 0px
}

.bordered-danger{
  border: 1px solid #FF4040;
}
.slide-btn{
  font-weight: bold;
  color: white;
  font-size: 24px;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 8px 30px;

}

.slide-btn:hover{
  color: white;
}